.fltbase-textarea {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 32px;
    border: 2px solid transparent;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    cursor: text;
    transition: all 0.3s;
    overflow: hidden;
}

.fltbase-textarea_auto,
.fltbase-textarea_small {
    min-height: 40px;
}

.fltbase-textarea_auto {
    /* padding: 8px 24px; */
    padding: 8px 0 8px 24px;
}

.fltbase-textarea__block_auto, 
.fltbase-textarea__block_small { 
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 2px; 
}

.fltbase-textarea_gray {
    background: #F8F8F8;
    border-color: #F8F8F8;
}

.fltbase-textarea_white {
    background: #FFFFFF;
    border-color: #EEEEEE;
}

.fltbase-textarea_white:hover {
    /* border-color: #B4AFB5; */
}

.fltbase-textarea__focused.fltbase-textarea_white:hover,
.fltbase-textarea__focused {
    border-color: #80D3DD;
    background: #FFFFFF;
}

.fltbase-textarea__error,
.fltbase-textarea__error.fltbase-textarea_white:hover {
    border-color: #ED123D;
}

.fltbase-textarea__required::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ED123D;
    background: #ED123D;
}

.fltbase-textarea__required_auto::after,
.fltbase-textarea__required_small::after {
    top: 6px;
    right: 20px;
}

.fltbase-textarea__label {
    font-size: 14px;
    color: #80828A;
    margin: 0;
    padding: 0 32px 0 0;
    user-select: none;
    overflow: hidden;
    transition: all 0.3s;
}

.fltbase-textarea__label_auto,
.fltbase-textarea__label_small {
    line-height: 0px;
    opacity: 0;
}

.fltbase-textarea__label-empty { 
    line-height: normal; 
    opacity: 1;
}

.fltbase-textarea__input {
    display: block;
    line-height: 18px;
    font-size: 16px;
    font-family: inherit;
    color: #212E35;
    padding: 4px 24px 0 0;
    margin: 0;
    border: none;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    text-align: inherit;
    border-radius: 0;
}

.fltbase-textarea__empty .fltbase-textarea__input { max-height: 130px; }
.fltbase-textarea__focused .fltbase-textarea__input { max-height: 130px; }
.fltbase-textarea__focused .fltbase-textarea__label { margin-top: 0; }

.fltbase-textarea__error-message {
    color: #ED123D;
    cursor: default;
    margin: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    font-size: 12px;
    line-height: 0px;
    transition: all 0.3s linear;
}

.fltbase-textarea__error-message_auto,
.fltbase-textarea__error-message_small {
    padding: 0 26px;
}

.fltbase-textarea__error + .fltbase-textarea__error-message {
    padding-top: 2px;
    line-height: 14px;
    opacity: 1;
}

.fltbase-textarea__label_auto { line-height: normal; opacity: 1;}

@media (min-width: 768px) {
    .fltbase-textarea__input {
        padding: 4px 32px 0 0;
    }

    .fltbase-textarea_auto {
        min-height: 48px;
        padding: 8px 0 8px 32px;
    }

    .fltbase-textarea__required_auto::after {
        top: 8px;
        right: 22px;
    }

    .fltbase-textarea__error-message_auto { 
        padding: 0 34px; 
        min-height: 16px;
    }

    .fltbase-textarea__block_auto { padding-bottom: 3px; }
}